# pandas Indexes

In [1]:
# import pandas
import pandas as pd

In [2]:
# create a DataFrame from a python map
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

df = pd.DataFrame(people)

In [3]:
df
# the left side column shows the default row labels 0, 1, 2

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [4]:
# set the index for the dataframe to the email column
df.set_index('email') # returns a new DataFrame

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [12]:
df.set_index('email', inplace=True) # modifies existing DataFrame
df

                         index  first     last
email
CoreyMSchafer@gmail.com      0  Corey  Schafer
JaneDoe@email.com            1   Jane      Doe
JohnDoe@email.com            2   John      Doe

In [15]:
# sort dataframe by index
df.sort_index(ascending=False) # returns a new DataFrame

                         index  first     last
email
JohnDoe@email.com            2   John      Doe
JaneDoe@email.com            1   Jane      Doe
CoreyMSchafer@gmail.com      0  Corey  Schafer

In [8]:
# now we can use loc to find rows by the value of the index column
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [11]:
# we can reset the index
df.reset_index(inplace=True)
df

   index                    email  first     last
0      0  CoreyMSchafer@gmail.com  Corey  Schafer
1      1        JaneDoe@email.com   Jane      Doe
2      2        JohnDoe@email.com   John      Doe