In [9]:
import pandas as pd

In [10]:
bar = {
    "time": ['2021-08-27 00:00:00-04:00'],
    "close": [652.99],
    "high": [662.61],
    "low": [651.86],
    "open": [658.39],
    "volume": [897841],
    "ltp": [0],
}
        

df = pd.DataFrame(bar)
df

                        time   close    high     low    open  volume  ltp
0  2021-08-27 00:00:00-04:00  652.99  662.61  651.86  658.39  897841    0

In [11]:
df.at[0,'ltp'] = 1
df

                        time   close    high     low    open  volume  ltp
0  2021-08-27 00:00:00-04:00  652.99  662.61  651.86  658.39  897841    1

In [12]:
df.at[0,'ltp']

1

In [14]:
df.set_index('time', inplace=True)
df

                            close    high     low    open  volume  ltp
time
2021-08-27 00:00:00-04:00  652.99  662.61  651.86  658.39  897841    1

In [16]:
df.at[0,'ltp']
ef

KeyError: 0