# Quantitative Trading Analytics

Technology has become an asset in finance: financial institutions are now evolving to technology companies rather than only staying occupied with just the financial aspect: besides the fact that technology brings about innovation the speeds and can help to gain a competitive advantage, the rate and frequency of financial transactions, together with the large data volumes, makes that financial institutionsâ€™ attention for technology has increased over the years and that technology has indeed become the main enabler in finance.

<img src="JupyterNotebook - Question.png">

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <p>
        Estimated time needed: <strong>90 min</strong>
    </p>
</div>

<hr>

May the pips be with you !

# Import Raw Packages

In [2]:
#Import Pandas, Numpy and PlotLy for Data visualization.

# I. Import Data

<p><span style='font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 17px;'>In this first part, the target will be to <strong>import data</strong> of the <strong>following shares</strong> :</span></p>
<table style="width: 48%; margin-right: calc(52%);">
    <tbody>
        <tr>
            <td style="width: 49.026%; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><strong><span style='font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 19px;'>Share name</span></strong></div>
            </td>
            <td style="width: 50.6493%; text-align: center; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;"><strong>Ticker</strong></span></span></div>
            </td>
        </tr>
        <tr>
            <td style="width: 49.026%; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">Twitter</span></span></div>
            </td>
            <td style="width: 50.6493%; text-align: center; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                            <meta charset="utf-8"><span style="color: rgba(0, 0, 0, 0.62); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: nowrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;">TWTR</span><br></span></span></div>
            </td>
        </tr>
        <tr>
            <td style="width: 49.026%; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">Netflix</span></span></div>
            </td>
            <td style="width: 50.6493%; text-align: center; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                            <meta charset="utf-8"><span style="color: rgba(0, 0, 0, 0.62); font-family: arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: nowrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;">NFLX</span><br></span></span></div>
            </td>
        </tr>
        <tr>
            <td style="width: 49.026%; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">Snapchat</span></span></div>
            </td>
            <td style="width: 50.6493%; text-align: center; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;">
                        <meta charset="utf-8"><span style="color: rgba(0, 0, 0, 0.62); font-family: arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: nowrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;">SNAP</span></span></div>
            </td>
        </tr>
        <tr>
            <td style="width: 49.026%; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;"><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">Uber</span></span></div>
            </td>
            <td style="width: 50.6493%; text-align: center; background-color: rgb(255, 255, 255);">
                <div style="text-align: left;"><span style="font-size: 19px;">
                        <meta charset="utf-8"><span style="color: rgba(0, 0, 0, 0.62); font-family: arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: nowrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;">UBER</span></span></div>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <meta charset="utf-8"><span style='color: rgb(0, 0, 0); font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>Two challenges will be given to you.&nbsp;</span></p>
<p><span style='color: rgb(0, 0, 0); font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>The first one one will be the advanced path flag with an &quot;A. &quot; and the second one will be the beginner one flagged by &quot;B. &quot;.</span></p>
<p><span style='color: rgb(0, 0, 0); font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>I wish you to enjoy this challenge !&nbsp;</span></p>

### API and DateTime package

In [3]:
#Import the right API library in order to import data from Yahoo finance. 
#Furthermore don't forget datetime package to get the dates in the right format !!

#PDR package


#Datetime package

In [4]:
#Define start and end date

### A. Import Data (Advance level task)

Create a while loop in order to import for each ticker in the following format : "ticker"_data

In [5]:
#Set your tickers

   
# Getting length of list 

   
# Iterating using while loop

TWTR is uploading data
NFLX is uploading data
SNAP is uploading data
UBER is uploading data

In [5]:
#Check SNAP data import

                 High        Low       Open      Close    Volume  Adj Close
Date
2018-01-02  15.010000  14.610000  14.690000  14.950000   9971000  14.950000
2018-01-03  15.380000  14.720000  15.000000  15.310000  15921400  15.310000
2018-01-04  15.000000  14.274000  14.760000  14.590000  27232000  14.590000
2018-01-05  14.750000  14.380000  14.510000  14.500000  18828000  14.500000
2018-01-08  14.280000  13.580000  14.210000  14.060000  27033600  14.060000
...               ...        ...        ...        ...       ...        ...
2020-04-27  17.000000  16.101999  16.250000  16.910000  43135600  16.910000
2020-04-28  17.260000  16.150000  17.030001  16.410000  28909900  16.410000
2020-04-29  17.870001  16.600000  16.799999  17.830000  41753600  17.830000
2020-04-30  17.990000  17.230000  17.500000  17.610001  30811400  17.610001
2020-05-01  17.299999  16.530001  17.000000  16.790001  27128400  16.790001

[587 rows x 6 columns]